# SQLite con Python

In [1]:
import sqlite3
import pandas as pd

In [2]:
import os
os.getcwd() # ruta actual

'/home/lucas/Documentos/ML/Datasets/twitter'

## cargar base de datos SQL con Pandas

In [3]:
path = 'database.sqlite'
sqliteConnection = sqlite3.connect(path) #conexiÃ³n a la base de datos sql

creo un query para filtrar y cargar los datos.

In [4]:
query = 'SELECT * FROM Tweets LIMIT 10'
pd.read_sql_query(query,sqliteConnection) # lectura de base de datos, con el query

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567588278875213824,neutral,1,,,Delta,,JetBlueNews,,0,@JetBlue's new CEO seeks the right balance to ...,,2015-02-16 23:36:05 -0800,USA,Sydney
1,567590027375702016,negative,1,Can't Tell,0.6503,Delta,,nesi_1992,,0,@JetBlue is REALLY getting on my nerves !! ðŸ˜¡ðŸ˜¡ ...,,2015-02-16 23:43:02 -0800,undecided,Pacific Time (US & Canada)
2,567591480085463040,negative,1,Late Flight,0.346,United,,CPoutloud,,0,@united yes. We waited in line for almost an h...,,2015-02-16 23:48:48 -0800,"Washington, DC",
3,567592368451248130,negative,1,Late Flight,1,United,,brenduch,,0,@united the we got into the gate at IAH on tim...,,2015-02-16 23:52:20 -0800,,Buenos Aires
4,567594449874587648,negative,1,Customer Service Issue,0.3451,Southwest,,VahidESQ,,0,@SouthwestAir its cool that my bags take a bit...,,2015-02-17 00:00:36 -0800,"Los Angeles, CA",Pacific Time (US & Canada)
5,567594579310825473,negative,1,Bad Flight,0.6707,United,,brenduch,,0,@united and don't hope for me having a nicer f...,,2015-02-17 00:01:07 -0800,,Buenos Aires
6,567595670463205376,negative,1,Late Flight,1,United,,CRomerDome,,0,@united I like delays less than you because I'...,,2015-02-17 00:05:27 -0800,"Portland, OR",Pacific Time (US & Canada)
7,567614049425555457,negative,1,Customer Service Issue,0.3545,United,,JustOGG,,0,"@united, link to current status of flights/air...",,2015-02-17 01:18:29 -0800,Tweets = My Opinion,Eastern Time (US & Canada)
8,567617081336950784,negative,1,Customer Service Issue,1,Southwest,,mrshossruns,,0,@SouthwestAir you guys there? Are we on hour 2...,,2015-02-17 01:30:32 -0800,,Eastern Time (US & Canada)
9,567617486703853568,negative,1,Customer Service Issue,0.6797,United,,feliciastoler,,0,@united I tried 2 DM it would not go thru... n...,"[0.0, 0.0]",2015-02-17 01:32:09 -0800,New Jersey,Central Time (US & Canada)

### Select, From y Where

SELECT pull specific columns from a table,
WHERE pull rows that meet specified criteria

In [20]:
query = "SELECT negativereason, negativereason_confidence \
        FROM Tweets \
        WHERE airline_sentiment='negative' \
        LIMIT 10"
pd.read_sql_query(query,sqliteConnection)

            negativereason  negativereason_confidence
0               Can't Tell                     0.6503
1              Late Flight                     0.3460
2              Late Flight                     1.0000
3   Customer Service Issue                     0.3451
4               Bad Flight                     0.6707
5              Late Flight                     1.0000
6   Customer Service Issue                     0.3545
7   Customer Service Issue                     1.0000
8   Customer Service Issue                     0.6797
9  Flight Booking Problems                     0.6337

### Group by, Having, COUNT/AVG/MIN/MAX, Order by

GROUP BY takes the name of one or more columns, and treats all rows with the same value in that column as a single group when you apply aggregate functions like COUNT().

HAVING is used in combination with GROUP BY to ignore groups that don't meet certain criteria.

ORDER BY sorts the results returned by the rest of your query. You can reverse the order using the DESC argument.

In [19]:
query = "SELECT negativereason,AVG(negativereason_confidence)\
        FROM Tweets\
        GROUP BY negativereason \
        HAVING airline_sentiment='negative'\
        ORDER BY AVG(negativereason_confidence)\
        "
pd.read_sql_query(query,sqliteConnection)

                negativereason  AVG(negativereason_confidence)
0                    longlines                        0.593856
1      Flight Booking Problems                        0.607153
2                   Can't Tell                        0.629478
3                   Bad Flight                        0.630785
4  Flight Attendant Complaints                        0.658255
5              Damaged Luggage                        0.734204
6                  Late Flight                        0.768978
7       Customer Service Issue                        0.779946
8             Cancelled Flight                        0.783200
9                 Lost Luggage                        0.812209

### EXTRACT DATE

In [25]:
query = "SELECT negativereason, tweet_created \
        FROM Tweets \
        WHERE airline_sentiment='negative' \
        LIMIT 10"
pd.read_sql_query(query,sqliteConnection)

            negativereason              tweet_created
0               Can't Tell  2015-02-16 23:43:02 -0800
1              Late Flight  2015-02-16 23:48:48 -0800
2              Late Flight  2015-02-16 23:52:20 -0800
3   Customer Service Issue  2015-02-17 00:00:36 -0800
4               Bad Flight  2015-02-17 00:01:07 -0800
5              Late Flight  2015-02-17 00:05:27 -0800
6   Customer Service Issue  2015-02-17 01:18:29 -0800
7   Customer Service Issue  2015-02-17 01:30:32 -0800
8   Customer Service Issue  2015-02-17 01:32:09 -0800
9  Flight Booking Problems  2015-02-17 01:54:53 -0800

### Join